In [1]:
import pandas as pd
pd.read_csv("surveys.csv")

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
...,...,...,...,...,...,...,...,...,...
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [1]:
conda install seaborn

Retrieving notices: ...working... done
Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Users/wade/anaconda3

  added / updated specs:
    - seaborn


The following NEW packages will be INSTALLED:

  seaborn            pkgs/main/osx-64::seaborn-0.12.2-py310hecd8cb5_0



Downloading and Extracting Packages

Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [2]:
conda install bokeh

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Users/wade/anaconda3

  added / updated specs:
    - bokeh


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    bokeh-3.1.0                |  py310h20db666_0         6.5 MB
    xyzservices-2022.9.0       |  py310hecd8cb5_1          45 KB
    ------------------------------------------------------------
                                           Total:         6.6 MB

The following NEW packages will be INSTALLED:

  bokeh              pkgs/main/osx-64::bokeh-3.1.0-py310h20db666_0
  xyzservices        pkgs/main/osx-64::xyzservices-2022.9.0-py310hecd8cb5_1



Downloading and Extracting Packages
xyzservices-2022.9.0 | 45 KB     |                                       |   0%
bokeh-3.1.0          | 6.5 MB    |                                       |   0%
xyzservices-2022.9.0 | 45 KB     | ##################################### | 100%
bokeh-3.1.0          | 6.5 MB    | ####                                  |  11%
bokeh-3.1.0          | 6.5 MB    | #########9                            |  27%
bokeh-3.1.0          | 6.5 MB    | #################                     |  46%
bokeh-3.1.0          | 6.5 MB    | #######################8              |  64%
bokeh-3.1.0          | 6.5 MB    | #############################5        |  80%
bokeh-3.1.0          | 6.5 MB    | ####################################  |  97%


Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.